@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap')

$fontfamily: 'Lato', sans-serif
$bgcolor: #f4f5f7
$border: 1px solid #000
$fontcolor: #282828
$fontW: lighter

body
	font-family: $fontfamily
.app-wrapper
	max-width: 1200px
	margin: 0 auto
	display: grid
	grid-template-areas: "h h" "n c"
	grid-template-rows: 60px 1fr
	grid-template-columns: 2fr 10fr
	// grip-gap: 10px

.app-wrapper__content
	 grid-area: c
	 background:#fafafa


.header
	grid-area: h
	background: $bgcolor
	box-shadow: 0px 3px 3px 0px #0000005c
	z-index: 1
	&__img
		width: 50px
		margin: 0.5% 0 0 2%
.nav
	grid-area: n
	background: $bgcolor

	.nav-items
		list-style-type: none
		padding-left: 10px

		&__item

			height: 25px
			a
				color: $fontcolor
				text-decoration: none
				font-weight: $fontW

			&:hover
				border-right: 2px solid #ffd200
.active
	border-right: 2px solid #ffd200

.content
	grid-area: c
	background: url("../img/main1.jpg") no-repeat
	background-size: cover
	.profile
		img
			width: 100px
	// &::before
	// 	content: ""
	// 	background: linear-gradient(to bottom, rgba(87, 87, 87, 0.44) 0%, rgba(87, 87, 87, 0.58) 100%)
	// 	position: absolute
	// 	top: 0
	// 	bottom: 0
	// 	right: 0
	// 	left: 0
	// 	z-index: 1

.post__item
	.post__img
		width: 100px
		border-radius: 50%		